<div class="container" fxLayout="column">
  <div fxFlex="auto" fxFlexAlign="center" fxLayout="row">
    <div fxFlex="300px" fxFlex.xs="240px" class="login">
      <div class="header">
        <i class="material-icons bg-1l">lock_open</i>
      </div>
      <form class="form">
        <div class="input sign-anim" *ngIf="mode === 1">
          <i class="material-icons bg-1l">email</i>
          <input type="email" [(ngModel)]="email"
                 placeholder="{{'user_account.email'|translate}} *" name="email">
        </div>
        <div class="input sign-anim" *ngIf="mode === 2">
          <i class="material-icons bg-1l">lock_outline</i>
          <input type="password" [(ngModel)]="password"
                 placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;" name="password">
        </div>
        <div class="input" *ngIf="mode === 2">
          <i class="material-icons bg-1l">lock_outline</i>
          <input type="password" [(ngModel)]="confirmPass"
                 placeholder="Confirm" name="password2">
        </div>
        <div fxLayout="">
          <div class="button" fxFlex>
            <button class="bg-2d" (click)="reset()">Reset Password</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
