@import "../../../assets/theme";

@-webkit-keyframes slide-left {
  0% {
    left: 0;
  }
  100% {
    left: -50%;
  }
}

@keyframes slide-left {
  0% {
    left: 0;
  }
  100% {
    left: -50%;
  }
}

@-webkit-keyframes slide-right {
  0% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}

@keyframes slide-right {
  0% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes zooming {
  0% {-webkit-transform: scale(1);transform: scale(1)}
  25% {-webkit-transform: scale(1.2);transform: scale(1.2)}
  //50% {-webkit-transform: scale(1);transform: scale(1)}
  75% {-webkit-transform: scale(0.8);transform: scale(0.8)}
  100% {-webkit-transform: scale(1);transform: scale(1)}
}

@keyframes zooming {
  0% {-webkit-transform: scale(1);transform: scale(1)}
  25% {-webkit-transform: scale(1.2);transform: scale(1.2)}
  //50% {-webkit-transform: scale(1);transform: scale(1)}
  75% {-webkit-transform: scale(0.8);transform: scale(0.8)}
  100% {-webkit-transform: scale(1);transform: scale(1)}
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: inline-block;
  background: transparent;
  .door1 {
    background: #fbfbfb url("../../../assets/images/landingPage/Full-Landing.gif") no-repeat center right;
    background-size: auto 100%;
    background-position-x: calc(50vw - 33vh);
    text-align: right;
    height: 100%;
    width: 50%;
    left: 0;
    position: absolute;
    img {
      top: calc((100% - 150px) / 2 + 35%);
      right: 65px;
    }
    &.open {
      -webkit-animation: 1s ease-in-out 0s 1 slide-left;
              animation: 1s ease-in-out 0s 1 slide-left;
      left: -50%;
      .left {
        right: -19px;

      }
    }
  }
  .door2 {
    background: #fbfbfb url("../../../assets/images/landingPage/Full-Landing.gif") no-repeat center left;
    background-size: auto 100%;
    background-position-x: -33vh;
    text-align: left;
    height: 100%;
    width: calc(50% + 2px);
    left: calc(50% - 2px);
    position: absolute;
    img {
      top: calc((100% - 150px) / 2 + 35%);
      left: 65px;
    }
    &.open {
      -webkit-animation: 1s ease-in-out 0s 1 slide-right;
              animation: 1s ease-in-out 0s 1 slide-right;
      left: 100%;
      .right {
        left: -12px;
      }
    }
  }

  .mld-img {
    top: calc((100% - 165px) / 2 + 35%);
    height: 150px;
    right: calc((50% - 75px));
    z-index: 2;
    -webkit-animation: linear 1s zooming infinite;
            animation: linear 1s zooming infinite;
    &.left {
      right: calc((50% - 75px));
      -webkit-animation: none;
              animation: none;
    }
    &.right {
      right: calc((50% - 0px));
      -webkit-animation: none;
              animation: none;
    }
  }
}

img {
  height: 130px;
  position: absolute;
}


@media (max-width: 599px) {
  .page {
    .door1 {
      img {
        right: 30px;
      }
      &.open {
        .left {
          right: -8px;
        }
      }
    }
    .door2 {
      img {
        left: 30px;
      }
      &.open {
        .right {
          left: -4px;
        }
      }
    }

    .mld-img {
      height: 70px;
      right: calc((50% - 33px));
      &.left {

      }
      &.right {

      }
    }
  }
  img {
    height: 60px;
  }
}
@media (min-width: 600px) {
  .page {
    .door1 {
      img {
        right: 40px;
      }
      &.open {
        .left {
          right: -14px;
        }
      }
    }
    .door2 {
      img {
        left: 40px;
      }
      &.open {
        .right {
          left: -7px
        }
      }
    }

    .mld-img {
      height: 110px;
      right: calc((50% - 52px));
      &.left {

      }
      &.right {

      }
    }
  }
  img {
    height: 100px;
  }
}
