<div class="home-page">
  <div class="left-side">
    <div class="small text fg-2d" id="buy">{{'home.buy' | translate}}</div>
    <div class="large text fg-2d" id="socks">3 {{'home.socks' | translate}}</div>
    <div class="small text fg-2d" id="and">{{'home.and_match' | translate}}</div>
    <div class="large text fg-2d" id="pairs">3 {{'home.pairs' | translate}} !</div>

    <div class="img" id="img_l">
      <img src="../../../assets/images/1.svg" alt="">
    </div>

    <div class="desc fg-txt" id="start">{{'home.start' | translate}}
      <br>{{'home.matching' | translate}}</div>

    <div class="button-container" id="shop">
      <button class="btn-shop-now bg-1d fg-txt bg-2d-h fg-1l-h" routerLink="/items-list">
        {{'home.shop_now' | translate}}
      </button>
    </div>
  </div>
  <div class="right-side">
    <div class="img" id="img_r">
      <img src="../../../assets/images/2.svg" alt="">
    </div>
  </div>
</div>

