<div fxLayout="row">
  <div fxFlex="80%">
    <form class="form" fxLayout="row">

      <div fxFlex="40%">
        <div class="form-group">
          <select class="custom-select" required [(ngModel)]="item.themeId" name="theme">
            <option value="">Select Theme</option>
            <option [value]="x.id" *ngFor="let x of themeList">{{x.name}}</option>
          </select>
        </div>
        <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="item.name">
        <input type="number" class="form-control" placeholder="Price" name="price" [(ngModel)]="item.price">
        <input type="number" class="form-control" placeholder="Sale Price" name="sprice" [(ngModel)]="item['salePrice']">
        <input type="text" class="form-control" placeholder="Color" name="color" [(ngModel)]="item.color">
        <input type="text" class="form-control" placeholder="Category" name="category" [(ngModel)]="item.category">
        <input type="text" class="form-control" placeholder="Links" name="links" [(ngModel)]="item.link">
      </div>
      <div class="form-group " style="margin-left: 20px" fxFlex="60%">
        <label class="white-color">Item Description</label>
        <textarea class="form-control" rows="5" name="desc" [(ngModel)]="item.description"></textarea>
      </div>
    </form>
  </div>
  <div fxFlex="10%" class="btn">
    <button class="btn btn-primary" (click)="addItem()" *ngIf="selected.length == 0">Add Item</button>
    <button class="btn btn-primary" (click)="editItem()" *ngIf="selected.length != 0">Edit Item</button>
    <button class="btn btn-danger" (click)="deleteItem()" *ngIf="selected.length != 0">Delete Item</button>
  </div>
</div>
<div style="padding-top: 20px;" class="table">
  <ngx-datatable class="material"
                 [rows]="rows"
                 [columnMode]="'force'"
                 [columns]="columns"
                 [headerHeight]="50"
                 [footerHeight]="50"
                 [rowHeight]="'auto'"
                 [limit]="12"
                 [selected]="selected"
                 (select)="selectItem($event)"
                 [selectionType]="'single'">

    <ngx-datatable-column name="ID">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div>{{value}}</div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Name">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div>{{value}}</div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Price">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div>{{value}}</div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Description">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div>{{value.substr(0, 30)}}</div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Hits">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div>{{value}}</div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="On Sale">
      <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
        <input type="checkbox" [checked]="value" (change)="onSale(row)" />
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Color">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div>{{value}}</div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Theme" prop="Theme">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div>{{value.name}}</div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
